.footer {
  background-color: #1d2025;
  color: #bbb;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.footer small {
  color: #777;
  font-size: 0.8rem;
}
