.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
}

.card {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
  background: #ffffffee;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h2 {
  font-weight: 600;
  color: #1e3c72;
}
