.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

}

.profile-card {
  background: #494949;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(151, 151, 151, 0.25);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.title {
  color: #2b5876;
  margin-bottom: 1rem;
}

.info p {
  font-size: 1rem;
  margin: 0.3rem 0;
}

.edit-section {
  margin-top: 1.5rem;
}

input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background: #4e4376;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #2b5876;
}
