.table td,
.table th {
    vertical-align: middle
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-top: 50px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}