html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #090b12;
  color: #fff;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
}

footer, .footer {
  background-color: #1d2025;
  color: #ccc;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  font-size: 0.9rem;
  margin-top: auto;
  border-top: 1px solid rgba(255,255,255,0.05);
}

footer small {
  color: #777;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.8rem;
    padding: 0.8rem 0;
  }
}