<div class="wallet-container">
  <div class="wallet-card">
    <h2>Pénztárca</h2>
    <h3 class="balance">Egyenleg: 
      <span [ngClass]="{ 'positive': wallet.balance >= 0, 'negative': wallet.balance < 0 }">
        {{ wallet.balance | currency:'HUF' }}
      </span>
    </h3>

    <div class="wallet-stats">
      <p><span class="income-label">Bevétel:</span> {{ wallet.income | currency:'HUF' }}</p>
      <p><span class="expense-label">Kiadás:</span> {{ wallet.expense | currency:'HUF' }}</p>
    </div>

    <div class="wallet-actions">
      <input type="number" [(ngModel)]="amount" class="amount-input" placeholder="Összeg">
      <div class="buttons">
        <button (click)="addIncome()" class="btn btn-success">+ Bevétel</button>
        <button (click)="addExpense()" class="btn btn-danger">- Kiadás</button>
      </div>
    </div>
  </div>
</div>
