<div class="card p-3 shadow-sm">
  <h3>Pénztárca</h3>
  <p>Állapot: <strong *ngIf="auth.getCurrentUser(); else guest">Bejelentkezett</strong><ng-template #guest><strong>Vendég / Nem bejelentkezett</strong></ng-template></p>
  <div class="row">
    <div class="col-md-4"><div class="stat">Összeg<br><strong>{{wallet.balance}} Ft</strong></div></div>
    <div class="col-md-4"><div class="stat">Bevétel<br><strong>{{wallet.income}} Ft</strong></div></div>
    <div class="col-md-4"><div class="stat">Kiadás<br><strong>-{{ wallet.expense }} Ft</strong>
  </div>
</div>

</div>